.bg-color {
  background-color: #eff3f7;
  height: 120vh;
}
a {
  text-decoration: none;
  color: #313131;
}
.rainbow-button {
  width: calc(30vw + 6px);
  height: calc(40px + 6px);
  background-image: linear-gradient(
    90deg,
    #00c0ff 0%,
    #ffcf00 49%,
    #fc4f4f 80%,
    #00c0ff 100%
  );
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  font-weight: bold;
  margin: 0 auto;
}
.rainbow-button:after {
  content: attr(alt);
  width: 30vw;
  height: 40px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
.rainbow-button:hover {
  animation: slidebg 2s linear infinite;
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}
